<h1>All restaurants</h1>
<br>
<p><%= link_to "Create a new restaurant", new_restaurant_path %></p>
<br>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
    <%= link_to restaurant.name, restaurant_path(restaurant.id) %> (<%= restaurant.category %>)
    </li>
  <% end %>
</ul>
